
<div id ='tag-sidebar' class="navbar-fixed col-lg-2">


  <% if @all_tags.any? %>

    <% @all_tags.each do |tag| %>

      <h4 class='text-center'>

      <%= link_to tag, tag_posts_path(tag) %> 

      </h4>

      <% end %>

    <% end %>


</div>


<div class= 'container'>

<div class='row'>

<% if @posts.none? %>
No posts have been made yet!
<% end %>

<% @posts.each do |post| %>


  <div class='post-display col-md-8 col-md-offset-2'>

    <h1><span class='glyphicon glyphicon-pencil'>
    </span></h1>
    <h4>
    <%= link_to post.title, post_path(post) %>
    </h4>      

    <% if post.image_file_name.present? %>

      <div class='original-image'>

      <%= image_tag post.image.url(:thumb), class: 'instagram_upload' %>

      </div>

    <% end %>

    <% if post.drawing_file_name.present? %>

      <div class='drawn-image'>

      <%= image_tag post.drawing.url(:thumb), class: 'instagram_upload' %>

      </div>

    <% end %>
    

    <%= link_to "Edit this Post", edit_post_path(post) %>


    <%= post.content %>


    <% if post.tags.any? %>

    Tags:
    
      <% post.tags.each do |tag| %>

        <%= link_to tag, tag_posts_path(tag) %>

      <% end %>

    <% end %>



    <% post.comments.each do |comment| %>

      <%= comment.content %>

    <% end %>

    <%= link_to "Add a Comment", new_post_comment_path(post) %>


  </div>


<% end %>
</div>

</div>

<script src='https://code.jquery.com/jquery-2.0.3.min.js'></script>
<script>

$(window).load(function(){
  $('.post-display .drawn-image').each(function() {

    $(this).css({top: '-' + $(this).height() + 'px' })
  });
})
</script>

