
<div id ='tag-sidebar' class="navbar-fixed col-lg-2">


  <% if @all_tags.any? %>

    <% @all_tags.each do |tag| %>

      <h4 class='text-center'>

      <%= link_to tag, tag_posts_path(tag) %> 

      </h4>

      <% end %>

    <% end %>


</div>


<div class= 'container'>

<div class='row'>

<% if @posts.none? %>
No posts have been made yet!
<% end %>

<% @posts.each do |post| %>


  <div id='post' class='col-md-8 col-md-offset-2'>

    <%= link_to post.title, post_path(post) %>

    <%= post.content %>


    <% if post.tags.any? %>

    Tags:
    
      <% post.tags.each do |tag| %>

        <%= link_to tag, tag_posts_path(tag) %>

      <% end %>

    <% end %>


    <% if post.image_file_name.present? %>

      <%= image_tag post.image.url(:thumb), class: 'instagram_upload' %>

    <%= link_to "Edit this Post", edit_post_path(post) %>

    <% end %>

    <% if post.drawing_file_name.present? %>

      <%= image_tag post.drawing.url(:thumb), class: 'instagram_upload' %>

    <% end %>

    <% post.comments.each do |comment| %>

      <%= comment.content %>

    <% end %>

    <%= link_to "Add a Comment", new_post_comment_path(post) %>


  </div>


<% end %>
</div>

</div>

