
<div id ='tag-sidebar' class="navbar-fixed col-lg-2">

  <% if @all_tags.any? %>

    <% @all_tags.each do |tag| %>

      <h4 class='text-center'>

      <%= link_to tag, tag_posts_path(tag) %>

      </h4>

    <% end %>

  <% end %>

</div>


<div class= 'container'>

  <div class='row'>

  <% if @posts.none? %>
  No posts have been made yet!
  <% end %>


  <% @posts.each do |post| %>


    <div class='post-display col-md-6 col-md-offset-3'>


      <div class='row post-header'>

        <h1><span class='glyphicon glyphicon-pencil'></span></h1>
        <h4>
        <%= link_to post.title, post_path(post) %>
        </h4> 

      </div>

      <div class='image-container'>     

        <% if post.image_file_name.present? %>

          <div class='original-image'>

          <%= image_tag post.image.url(:large), class: 'instagram_upload' %>

          </div>

        <% end %>

        <% if post.drawing_file_name.present? %>

          <div class='drawn-image'>

          <div class='drawing_updated_at' data-id='<%= post.id %>'><%= post.drawing_updated_at %></div>

          <%= image_tag post.drawing.url(:large), class: 'instagram_upload', id: 'test', data: {id: post.id } %>

          </div>

        <% end %>

      </div>

      <div class='post-content'>

        <%= post.content %>

      </div>

      
      <% post.comments.each do |comment| %>

      <div class='post-comments'>

        > 
        <%= comment.content %>
          
      </div>

      <% end %>

      
      <div class='post-tags'>

      <% if post.tags.any? %>
        
        <% post.tags.each do |tag| %>

          <%= link_to tag, tag_posts_path(tag), :class => 'post-tag' %>

        <% end %>

      <% end %>

      </div>


      <div class='row post-buttons'>

      <%= button_to "Add a Comment", new_post_comment_path(post), :class => 'post-button', :method => :get %>

      <%= button_to "Edit this Post", edit_post_path(post), :class => 'post-button', :method => :get %>

      </div>

      
    </div>

  <% end %>
  
  <div>
  I'ma a div with an image!
  <img>
  </div>
  </div>


</div>

<script>

  sortPosts = function() {

    return $(".row > .post-display").tsort('.drawing_updated_at', {
      order: 'desc'
    });

  };

  $(document).ready (function() {

    return sortPosts();

    });

    var dispatcher = new WebSocketRails(window.location.host + '/websocket');

    var channel = dispatcher.subscribe('drawing');

    channel.bind('update_drawing', function(post){

      console.log('This is the post image url -->')
      console.log(post.image_url)
      console.log('This is the post -->')
      console.log(post)

 
      $('.drawing_updated_at[data-id="' + post.id + '"]').text(post.drawing); 
      $('.instagram_upload[data-id="' + post.id + '"]').attr('src', post.image_url);

      return sortPosts();


    });

    var anotherChannel = dispatcher.subscribe('live_drawing');

    anotherChannel.bind('realtime_draw', function(post) {

      console.log(post)

    });

    channel.bind('updated', function(msg) {
      console.log('hello');
      console.log(msg);

      var liveDrawing = document.getElementById('test');

      console.log(msg.data)
      console.log(liveDrawing.src)

      liveDrawing.src = msg.data;

    })

</script>


