
<div id ='tag-sidebar' class="navbar-fixed col-lg-2">


  <% if @all_tags.any? %>

    <% @all_tags.each do |tag| %>

      <h4 class='text-center'>

      <%= link_to tag, tag_posts_path(tag) %>

      <% end %>

    <% end %>


</div>


<div class= 'container'>

<div class='row'>

<% if @posts.none? %>
No posts have been made yet!
<% end %>

<% @posts.each do |post| %>


  <div class='post-display col-md-6 col-md-offset-3'>

    <h1><span class='glyphicon glyphicon-pencil'>
    </span></h1>
    <h4>
    <%= link_to post.title, post_path(post) %>
    </h4> 

    <div class='image-container'>     

    <% if post.image_file_name.present? %>

      <div class='original-image'>

      <%= image_tag post.image.url(:large), class: 'instagram_upload' %>

      </div>

    <% end %>

    <% if post.drawing_file_name.present? %>

      <div class='drawn-image'>

      <%= image_tag post.drawing.url(:large), class: 'instagram_upload' %>

      </div>

    <% end %>


    </div>


    <div class='post-content'>

    <%= post.content %>

    </div>
    

    <% post.comments.each do |comment| %>

    <div class='comment-content'>

      > 
      <%= comment.content %>
      
    </div>

    <% end %>

    
    <% if post.tags.any? %>
    
      <% post.tags.each do |tag| %>

        <%= link_to tag, tag_posts_path(tag), :class => 'post-tag' %>

      <% end %>

    <% end %>


    <div class='row post-buttons'>

    <%= button_to "Add a Comment", new_post_comment_path(post), :class => 'post-button', :method => :get %>

    <%= button_to "Edit this Post", edit_post_path(post), :class => 'post-button', :method => :get %>

    </div>

  </div>


<% end %>
</div>

</div>


