
<%= @post.title %>
<%= @post.content %>

<% if @post.tags.any? %>
Tags:
  <% @post.tags.each do |tag| %>
    <%= link_to tag, tag_posts_path(tag) %>
  <% end %>
<% end %>

<% if @post.image_file_name.present? %>
  <%= image_tag @post.image.url(:thumb), class: 'instagram_upload' %>
<% end %>

<% @post.comments.each do |comment| %>
  <%= comment.content %>
<% end %>

<%= link_to "Add a Comment", new_post_comment_path(@post) %>
Buy:
<%= form_tag post_charges_path(@post) do %>
  <article>
    <label class="amount">
      <span>Amount: £5.00</span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.application.secrets.stripe_public_key %>"
          data-description="A month's subscription"
          data-amount="500"
          data-currency="GBP"></script>
<% end %>

