<!DOCTYPE html>
<html>
<head>
  <title>PostIt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <div id='container' class='container fill'>
  <div id='main'> -->

    <%= render 'layouts/header' %>

<p class='notice'><%= notice %></p>
<p class='alert'><%= alert %></p>

<%= yield %>

<!--   </div>

</div> -->
</body>
</html>
